@model Store.Models.Product
 
<h2>Редактирование продукта</h2>
<form asp-action="edit" asp-controller="home" asp-route-id="@Model.Id">
    <p>
        <label asp-for="Name">Название</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <label asp-for="Price">Цена</label><br />
        <input type="text" asp-for="Price" />
    </p>
    <p> 
        <select asp-for="TypeId">
            <option value="">Виберіть категорію</option>
            <option value="1">Drink</option>
            <option value="2">Diary</option>
            <option value="3">Meat</option>
            <option value="4">Fruit</option>
        </select>
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>
